* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    
    text-align: center;
    background-image:url(Imagens/bec156_35ed5bf2b1284bcda0bb7f27e5f01bca_mv2.webp) ;
   background-size:cover ;
}
main{
    background-color:#095DA6;
    max-width: 450px ;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 40px 20px;;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
   margin-top: 2%;
   gap: 30px;
   border: solid black 5px;
}
h1{
    color: white;
    margin-top: 3%;
}
h3{
    color: white;
}
button{
    background-color: white;
    color: black;
    padding: 3px;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 1px 1px;
}
button:hover{
color: #095DA6;
}
input{
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 5px;
    width: 300px;
    border: solid 3px white;
    box-shadow: 1px 1px;
}
label{
    color: white;
}

.results, .numbers{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.Aconverter{
    display:grid;
    grid-template-columns: 80px 80px 80px ;
    gap: 10px;
}

.jaConvertido{
    display:grid;
    grid-template-columns: 80px 80px 80px ;
    gap: 10px;
}
#convert{
    width: 200px;
    height: 40px;
}
a{
    color: white;
   font-size: 20px;
   text-decoration: none;
   transition: 0.6s;
}
a:hover{
    text-decoration: underline;
}
#number{
    width: 340px;
}
